<!-- BEGIN:main -->
<style>
    .buttons button{

        margin: 10px;
    }

    .ganancia{
        font-size:150% !important;
        font-weight: bold !important;
    }
</style>
<div class="box">

    <div class="item">
        <h2>{lbl_mes}</h2>
        <p>{mes}</p>
    </div>
    <div class="item">
        <h2>{lbl_ventas}</h2>
        <p>{ventas}</p>
    </div>

    <div class="item">
        <h2>{lbl_ganancias}</h2>
        <p>{ganancias}</p>
    </div>
    <div class="item">
        <h2>{lbl_gastos}</h2>
        <p>{gastos}</p>
    </div>
    <div class="item">

        <p>{productos}</p>
    </div>
    <div class="item">

        <p>{clientes}</p>
    </div>
</div>

<!-- END:main -->
