<!-- BEGIN:main -->
<html>
<head>
  <style>
    @page { margin: 230px 50px; }
    #header { position: fixed; left: 0px; top: -280px; right: 0px; }
    #footer { position: fixed; left: 0px; bottom: -180px; right: 0px; height: 2px;  }
    #footer .page:after { content: counter(page); }
    #content { page-break-after: auto;}
    #divDevoluciones { page-break-before: always;}
  </style>
  </head>
<body>
  <div id="header">
    <table>
	<tr>
	<td width="450px">
		<p style="font-size:22pt;font-weight: bold;">Venta # {oid}</p>
		<p style="font-size:22pt;font-weight: bold;">{fecha}</p>
		<p style="font-size:16pt;">&#60;Documento no v&aacute;lido como factura&#62;</p>
	</td>
	<td width="300px">
		<p style="font-size:12pt;">
		<img border="0" alt="logo" name="imLogo" id="imLogo" style="margin-top: 40px;" width="200px" height="160px" src="{APP_PATH}/css/images/cabecera_pdf.jpg">
		<!-- <br>
		<img border="0" alt="whatsapp" name="imwhatsapp" id="imwhatsapp" src="{APP_PATH}/css/images/whatsapp.png"> 249-154 558058  -->
		<br><img border="0" alt="instagram" name="imInstagram" id="imInstagram" src="{APP_PATH}/css/images/instagram.png"> @mientrastantodecohome
		<br><img border="0" alt="facebook" name="imFacebook" id="imFacebook" src="{APP_PATH}/css/images/facebook.png"> Mientras Tanto Deco Home
		<br><img border="0" alt="email" name="imEmail" id="imEmail" src="{APP_PATH}/css/images/mail.png"> mientrastantolp@gmail.com
		<!--<br>Rodr&iacute;guez 195 - Rauch - Bs. As.</p> -->
	</td>
	</tr>
	
</table>

  </div>
  <div id="footer" style="padding-top: 10px; border-top: 1px solid #ddd; font-size:13px; color: #333; margin-top: 20px;">
  	
    <table>
			<tr>
			<td width="580px">
			    Mientras Tanto Deco Home / Env&iacute;os sin cargo. Jueves y Viernes. La Plata y Zona Norte.
			</td>
			
			<td width="120px" align="right">
				
				<p class="page">P&aacute;gina </p>
				
			</td>
			
			</tr>
	
		</table>
  </div>
  <div id="content">
  	<hr />
    <table>
	<tr>
	<td colspan="2">
		<span style="font-size:16pt;font-weight: bold;">CLIENTE</span>
	</td>
	</tr>
	<tr>
	<td colspan="2"> 
		<span style="font-size:12pt;">Ap. y Nom./Rs: {cliente}</span>
		
	</td>
	
	
	</tr>
	<tr>
	<td width="450px"> 
		<span style="font-size:12pt;">Tel&eacute;fonos: {telefono} - {celular}</span>
		
	</td>
	<td> 
		<span style="font-size:12pt;">Email: {email}</span>
		
	</td>
	
	</tr>
</table>
<hr />
<div class="box_details">
	<table cellspacing="0" cellpadding="0" border="1">
		<thead><tr><th width="450px">{lbl_detalle_nombre}</th><th>{lbl_detalle_cantidad}</th><th width="100px">{lbl_detalle_precio}</th><th width="100px">{lbl_detalle_subtotal}</th></tr></thead>
		
			<!-- BEGIN:detalle -->
			<tr><td>{producto}</td><td style="text-align: right;">{cantidad}</td><td style="text-align: right;">{precio}</td><td style="text-align: right;">{subtotal}</td></tr>
			<!-- END:detalle -->
		
		<tr><td colspan="4"></td></tr>
		<tr><td colspan="4"></td></tr>
		<tr><td colspan="4"></td></tr>
		<tr><td colspan="4"></td></tr>
			<tr><td style="text-align: right; font-weight: bold;" colspan="3">{lbl_subtotales}</td><td style="text-align: right;font-weight: bold;">{total}</td></tr>
		
	</table>
</div>
{htmlDevoluciones}
<div class="box_details">
	<table cellspacing="0" cellpadding="0" border="1">
		
		
		<tr><td colspan="4"></td></tr>
		<tr><td colspan="4"></td></tr>
		<tr><td colspan="4"></td></tr>
		<tr><td colspan="4"></td></tr>
			
			<tr><td style="text-align: right; font-weight: bold;" colspan="3" width="616px">{lbl_totales}</td><td style="text-align: right;font-weight: bold;" width="100px">{totales}</td></tr>
			{htmlMontoActualizado}
			<tr><td style="text-align: right; font-weight: bold;" colspan="3" width="616px">{lbl_pagado}</td><td style="text-align: right;font-weight: bold;" width="100px">{pagado}</td></tr>
			<tr><td style="text-align: right; font-weight: bold;" colspan="3" width="616px">{lbl_adeudado}</td><td style="text-align: right;font-weight: bold;" width="100px">{adeudado}</td></tr>
		
	</table>
</div>
  </div>
</body>
</html>
<!-- END:main -->