<!-- BEGIN:main -->
<script language="javascript"
	src="{WEB_PATH}js/autocomplete/simpleAutoComplete.js"></script>
<link rel="stylesheet"
	href="{WEB_PATH}css/autocomplete/simpleAutoComplete.css"
	type="text/css" />


<script>

var productoSelected = "";
var detalles = "";

function addTrDetalle($detalle, $table, $index){

	$row = $('<tr/>', {'class' : 'detalle'});

    $row.append($('<td colspan="3"/>').append($detalle["producto_nombre"]));
    $row.append($('<td/>', {'class' : 'importe'}).append("$" +$detalle["precioUnitario"]));
    $row.append($('<td/>', {'class' : 'importe'}).append($detalle["cantidad"]));
    $row.append($('<td/>', {'class' : 'importe'}).append("$" +$detalle["subtotal"]));

    if($index!='combo'){
    	$button = $('<button/>', {'onclick' : 'quitarDetalle(' + $index + ')'}).append( $('<i/>', {'class' : 'icon-cancel-2'}) );
    	$row.append($('<td/>', {'class' : 'actions'}).append($button));
    }



	$table.append($row);

}

function addTrTotales($data, $table){

	$importe = $data["importe"];
	$cantidad = $data["cantidad"];

	$detalles = $data["detalles"];

	$row = $('<tr/>');

    $row.append($('<td colspan="3"/>', {'class' : 'totales'}).append(""));
    $row.append($('<td/>', {'class' : 'totales'}).append("Totales"));
    $row.append($('<td/>', {'class' : 'totales importe'}).append( $cantidad ));
    $row.append($('<td/>', {'class' : 'totales importe'}).append( "$" + $importe));
    $row.append($('<td/>').append());

	$table.append($row);

}



function mostrarDetalles(data){

	$detalles = data["detalles"];

	$table = $('#detalles > tbody');
	$table.html("");

	var $combos = [ ];
	for( var $i=0; $i < $detalles.length ; $i++){
		if($detalles[$i]["combo_oid"]){

			if((jQuery.inArray($detalles[$i]["combo_oid"], $combos))==-1){

				$combos.push($detalles[$i]["combo_oid"]);

				$detalles[$i]["producto_nombre"]=$detalles[$i]["combo_nombre"];
				$detalles[$i]["precioUnitario"]=$detalles[$i]["combo_precio"];
				$detalles[$i]["cantidad"]=$detalles[$i]["combo_cantidad"];
				$detalles[$i]["subtotal"]=$detalles[$i]["combo_precio"]*$detalles[$i]["combo_cantidad"];
				$detalle = $detalles[$i];
				addTrDetalle($detalle, $table, 'combo');
				data["cantidad"]=$detalles[$i]["combo_cantidad"];

			}
		}
		else{
			$detalle = $detalles[$i];
			addTrDetalle($detalle, $table, $i);
		}


	}

	addTrTotales( data, $table);

	cleanInputs();
}

function cleanInputs(){

	$("#detallePrecioLista").val("") ;
	$("#detallePrecioEfectivo").val("") ;
	$("#detallePrecio").val("") ;
	$("#detalleCosto").val("") ;
	$("#detalleCantidad").val("") ;
	$("#detalleSubtotal").html("") ;
	$("#detalleSubganancia").html("") ;

	$("#findentity_detalleCombo_inputCode").val("") ;
	$("#findentity_detalleCombo_inputCode").blur() ;

	$("#findentity_detalleProducto_inputCode").val("") ;
	$("#findentity_detalleProducto_inputCode").blur() ;
	$("#findentity_detalleProducto_autocomplete").focus() ;


}

function productochange(entity){

	//print_r(entity);

	//mostramos las obras sociales con las que se ha atendido.
	if(entity["error"] == undefined){

		productoSelected = entity;
		$precioEfectivo = entity["precioEfectivo"];
		$precioLista = entity["precioLista"];
		$cantidad = entity["cantidad"];
		$costo = entity["costo"];
		$("#detallePrecioEfectivo").val( $precioEfectivo ) ;
		$("#detallePrecioLista").val( $precioLista ) ;
		$("#detallePrecio").val( $precioLista ) ;
		$("#detalleCosto").val( $costo ) ;
		$("#detalleCantidad").val($cantidad) ;
		$("#detalleSubtotal").html($precioLista) ;


		if($("#accesoRapido").val()==1){

			consultarStockDetalle();
		}else{
			$("#detallePrecio").focus() ;
		}
		$("#accesoRapido").val(0);
	}
}

function combochange(entity){

	//print_r(entity);


	if(entity["error"] == undefined){

		agregarCombo();
	}
}

function detalleChange(){

	$precio = $("#detallePrecio").val() ;
	$costo = $("#detalleCosto").val() ;
	$cantidad = $("#detalleCantidad").val() ;
	$("#detalleSubtotal").html(parseFloat(parseFloat($precio.replace(',','.'))*$cantidad)) ;
	$("#detalleSubganancia").val(($precio*$cantidad)-($costo*$cantidad)) ;
	$("#detallePrecio").focus() ;

}

function agregarDetalle(){

	$precio = $("#detallePrecio").val() ;
	$costo = $("#detalleCosto").val() ;
	$cantidad = $("#detalleCantidad").val() ;
	$subtotal = $precio * $cantidad;
	$producto = $("#detalleProducto").val() ;

	if( $producto<=0)
		return;

	$.ajax({
	  	url: "{linkAgregarDetalle}",
	  	type: "POST",
	  	data: { precio: $precio, producto: $producto, cantidad: $cantidad, costo: $costo },
	  	dataType: "json",
	  	cache: false,
		complete:function(){
			//$("#loading").hide();
			//$("#current_action").html("");
		},
	  	success: function(data){

			if( data != null && data["error"]!=null){
				msg = data["error"];
				showErrorMessage(msg);
			}
			if( data != null && data["error"]==undefined){
				//mostramos los detalles.

				mostrarDetalles( data );


			}

	  	}
	});


}

function agregarCombo(){


	$combo = $("#detalleCombo").val() ;

	if( $combo<=0)
		return;

	$.ajax({
	  	url: "{linkAgregarCombo}",
	  	type: "POST",
	  	data: { combo: $combo },
	  	dataType: "json",
	  	cache: false,
		complete:function(){
			//$("#loading").hide();
			//$("#current_action").html("");
		},
	  	success: function(data){

			if( data != null && data["error"]!=null){
				msg = data["error"];
				showErrorMessage(msg);
			}
			if( data != null && data["error"]==undefined){
				//mostramos los detalles.

				mostrarDetalles( data );


			}

	  	}
	});


}

function consultarStockDetalle(){
	//alert('entra');
	$precio = $("#detallePrecio").val() ;
	$cantidad = $("#detalleCantidad").val() ;
	$subtotal = $precio * $cantidad;
	$producto = $("#detalleProducto").val() ;

	if( $producto<=0)
		return;

	$.ajax({
	  	url: "{linkConsultarStockDetalle}",
	  	type: "POST",
	  	data: { precio: $precio, producto: $producto, cantidad: $cantidad },
	  	dataType: "json",
	  	cache: false,
		complete:function(){
			//$("#loading").hide();
			//$("#current_action").html("");
		},
	  	success: function(data){

			if( data != null && data["error"]!=null){
				msg = data["error"];
				showErrorMessage(msg);
			}
			if( data != null && data["error"]==undefined){
				//mostramos los detalles.

				if(data["hayStock"]=="SI"){
					agregarDetalle();
				}
				else{
					jAlertConfirm( "Sin stock", "Sin stock. Continuar?", agregarDetalle );
				}

			}

	  	}
	});


}

function quitarDetalle( $index ){

	$.ajax({
	  	url: "{linkBorrarDetalle}",
	  	type: "POST",
	  	data: { index: $index },
	  	dataType: "json",
	  	cache: false,
		complete:function(){
			//$("#loading").hide();
			//$("#current_action").html("");
		},
	  	success: function(data){

			if( data != null && data["error"]!=null){
				msg = data["error"];
				showErrorMessage(msg);
			}
			if( data != null && data["error"]==undefined){
				//mostramos los detalles.
				mostrarDetalles( data );
			}

	  	}
	});


}

function seleccionarProducto( oid ){
	$("#accesoRapido").val( 1) ;
	$("#findentity_detalleProducto_inputCode").val( oid ) ;
	$("#findentity_detalleProducto_inputCode").blur() ;

}

function tipoProductochange( ){
	submitBuscarAccesosRapidos("{WEB_PATH}");

}

function marcaProductochange( ){
	submitBuscarAccesosRapidos("{WEB_PATH}");

}



function submitBuscarAccesosRapidos(webpath){

	var $tipoProducto = $("#findentity_tipoProducto_autocomplete").val() ;
	var $marcaProducto = $("#findentity_marcaProducto_autocomplete").val() ;
	var $nombreProducto = $("#nombreProducto").val() ;
	$.ajax({
		  url: webpath + "AccesosRapidos.rasty",
		  type: "POST",
		  data: { nombreProducto: $nombreProducto,marcaProducto: $marcaProducto,tipoProducto: $tipoProducto},
		  cache: false,
		  success: function(content){

			$("#accesosRapidos" ).html(content);
			//$( resultId ).fadeTo("fast", 1);

		  }
		});
}

$(function() {

	$("#detalleCantidad").change( function(){
		detalleChange();
	});
	$("#detallePrecio").change( function(){
		detalleChange();
	});

	$("#findentity_detalleProducto_autocomplete").focus() ;


	$("#nombreProducto").change( function(){
		submitBuscarAccesosRapidos("{WEB_PATH}");
	});

	$("#detallePrecio").keyup(function (e) {
        if (e.keyCode == 13) {
        	//$("#detalleCantidad").focus().select();
        	consultarStockDetalle();
        }
    });

	$("#detalleCantidad").keyup(function (e) {
        if (e.keyCode == 13) {
        	consultarStockDetalle();
        }
    });

	$("detallePrecio").focus(function(){
        this.select();
    });
	submitBuscarAccesosRapidos("{WEB_PATH}");
});
</script>

<style>

#findentity_detalleProducto_inputCode{
	width: 50%;
}
#findentity_detalleProducto_autocomplete{
	width: 40%;
}

.item{


}
.rasty form input[type="text"]{


}

.importe, .cantidad, #detalleCantidad, #detallePrecio{

	text-align: right;
}

.totales{

	font-weight: bold;
	font-size: 16px;
}

.venta_left label{

	text-align: left !important;
}

td.actions, .detalle button{

	text-align: center;
}

table#detalles td{
	border-bottom: 2px solid #D8D8D8 !important;
    border-right: 1px solid #CCCCCC !important;
    border-top: 2px solid #FFFFFF !important;

}

.no-mostrar{

display:none;
}

</style>

<div>
<div class="venta_left mostrarMovil">
	<input type="hidden" value="0" name="accesoRapido" id="accesoRapido" />
	<fieldset class="accesos_rapidos">

		<legend>{accesos_rapidos_legend}</legend>
		<fieldset>
		<div class="criteria_left">

			<div class="item" style="min-width: {minWidth};">
			    <label for="nombre">{lbl_nombre}:</label>
		    	<rasty id="nombre" />
			</div>
			<div class="item" style="min-width: {minWidth};">
			    <label for="tipoProducto">{lbl_tipoProducto}:</label>
		    	<rasty id="tipoProducto" />
			</div>

		</div>
		<div class="criteria_right">

			<div class="item" style="min-width: {minWidth};">
			    <label for="marcaProducto">{lbl_marcaProducto}:</label>
		    	<rasty id="marcaProducto" />
			</div>

		</div>
		</fieldset>
		<div id="accesosRapidos">
		<!-- BEGIN:agregar_producto -->
		<button class="shortcut" onclick="javascript: seleccionarProducto('{codigo}')"  title="{nombre}" >
			<!--<img src="{logo}" alt="{nombre}">-->
		</button>
		<!-- END:agregar_producto -->
		</div>


	</fieldset>

</div>

<div class="venta_right">

	<form class="cuentas_form" id="venta_form" onsubmit="return validate('venta_form');" action="{action}" method="{method}">

	<fieldset>
		<legend>{legend}</legend>

		<rasty id="backSuccess" />
	    <rasty id="oid" />


		<div class="item no-mostrar">
		    <label for="fecha">{lbl_fecha} *:</label>
		    <rasty id="fecha" />
		</div>

		<div class="item">
		    <label for="cliente">{lbl_cliente} *:</label>
		    <rasty id="cliente" />
		</div>

		<div class="item">
		    <label for="observaciones">{lbl_observaciones}:</label>
		    <rasty id="observaciones" />
		</div>
	</fieldset>
	</form>


	<fieldset>

		<legend>{detalles_legend}</legend>

		<table id="detalles">
			<thead>
				<tr>
					<td colspan="3"><rasty id="detalleProducto"/></td>
					<td colspan="2" class="ocultarMovil"><rasty id="detalleCombo"/></td>
				</tr>
				<tr>

					<td class="importe"><rasty id="detallePrecioLista"/></td>

					<!--  <td class="importe"><rasty id="detallePrecioEfectivo"/></td>-->
					<td colspan="2" class="importe"><rasty id="detallePrecio"/><rasty id="detalleCosto"/></td>

					<td  class="cantidad"><rasty id="detalleCantidad"/></td>
					<td class="importe"><span id="detalleSubtotal"></span></td>
					<td>
						<button onclick="javascript: consultarStockDetalle();">
							<i class="icon-plus"></i>
						</button>
					</td>
				</tr>
			</thead>
			<thead>
				<tr>
					<th colspan="3">{lbl_detalle_nombre}</th>
					<th>{lbl_detalle_precio}</th>
					<th>{lbl_detalle_cantidad}</th>
					<th>{lbl_detalle_subtotal}</th>
					<th></th>

				</tr>
			</thead>
			<tbody>
			</tbody>

		</table>


	</fieldset>

	<!-- BEGIN: msg_error -->
	<fieldset class="ui-state-error">
			{msg}
	</fieldset>
	<!-- END: msg_error -->

	<form  class="cuentas_form" id="buttons{inputId}">
		<fieldset class="tblFooters">

			<button  class="shortcut" type="button"  id="input_submit" onclick="javascript: submitFormulario('venta_form'); ">
				<i class="icon-checkmark on-left"></i>{lbl_submit}
			</button>

			<button  class="shortcut" type="button"  id="input_button_2" onclick="javascript: window.location.href = '{cancel}'; ">
				<i class="icon-cancel-2 on-left"></i>{lbl_cancel}
			</button>

		</fieldset>
</form>
</div>
<div style="clear: both;"></div>


</div>

<!-- END:main -->
