<!-- BEGIN:main -->
<style>
.buttons button{

	margin: 10px;
}

</style>
<div class="box">
	<div class="item">
		<h2 class='saldo'>{lbl_fecha}</h2>
		<p class='saldo'>{fecha}</p>
	</div>
	<div class="item">
		<h2 class='saldo'>{lbl_fechaVencimiento}</h2>
		<p class='saldo'>{fechaVencimiento}</p>
	</div>
	<div class="item">
		<h2>{lbl_concepto}</h2>
		<p>{concepto}</p>
	</div>
	<div class="item">
		<h2>{lbl_observaciones}</h2>
		<p>{observaciones}</p>
	</div>
	<div class="item">
		<h2>{lbl_monto}</h2>
		<p>{monto}</p>
	</div>
</div>
<!-- END:main -->